SUPABASE_DB_PASSWORD="..."
SUPABASE_URL="..."
POSTGRES_URL="..."
SUPABASE_KEY="..."

OPENAI_API_KEY="..."
DEFAULT_LLM_MODEL=gpt-5.4-mini
DEFAULT_EMBEDDING_MODEL=text-embedding-3-large

SERVER_PORT=3002
JOB_CONCURRENCY_LIMIT=10
JOB_HOLD_TIME_SECS=900